
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-3">
            {{#each postData}}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Posted by - {{this.user.name}} ({{this.date_created}})</h6>
                        {{#if (belongsTo ../currentUser this.user.id)}}
                        <a href="/posts/edit/{{this.id}}" class="btn btn-primary">Edit</a>
                        {{/if}}
                        <a href="/posts/view/{{this.id}}" class="btn btn-success">View Post</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div> 
</div>