
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-3">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{postData.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Posted by - {{postData.user.name}} ({{postData.date_created}})</h6>
                    <p class="card-text">{{postData.content}}</p>
                    {{#if (belongsTo currentUser postData.user.id)}}
                    <a href="/posts/edit/{{postData.id}}" class="btn btn-primary">Edit</a>
                    <a href="/posts/delete/{{postData.id}}" class="btn btn-danger">Delete Post</a>
                    {{/if}}
                    <a href="/posts/{{postData.id}}/comment" class="btn btn-success">Add Comment</a>
                </div>
            </div>
            {{#each commentData}}
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">{{this.content}}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Posted by - {{this.user.name}} ({{this.date_created}})</h6>
                </div>
            </div>
        {{/each}}
        </div>
    </div> 
</div>